<!DOCTYPE html>

<html>

<head>
    <title>Sign Up</title>
    <link rel="icon" href="/img/bulldog.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>

    <form action="/users/signUp" method="POST" name="signUp">
        <input type="email" name="userName" placeholder="Username" value="{{formData.userName}}" required>
        <input type="password" name="password" minlength ="7" placeholder="Password" value="{{formData.password}}" required>
        <input type="password" name="rePassword" minlength ="7" placeholder="Retype Password" value="{{formData.rePassword}}" required>
        <input type="number" name="age" min="18" placeholder="Age" {{formData.password}} value="{{formData.age}}" required>
        <button>Sign Up</button>
    </form>
    <p id="error">{{error.message}}</p>
    {{>footer}}
    <!-- <script src="/js/signUp.js"></script> -->
</body>

</html>